.navbar-outer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: medium;
  height: 8vh;
}
.navbar-item {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  padding: 1rem;
  transition: all;
  transition-duration: 700ms;
  &:hover {
    color: gray;
  }
}
